/**
 * Message Component Style for uxcore
 * @author eternaslky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__notificationPrefixCls: kuma-message;

.@{__notificationPrefixCls} {
    position: fixed;
    margin-bottom: -45px;
    bottom: 50%;
    z-index: 1070;
    max-width: 300px;

    &-content {
        margin-left: 34px;
        font-size: 14px;
        color: @text-primary-color;
        line-height: 24px;
    }

    &-notice {
        position: relative;
        margin: 10px 0;
        padding: 20px 30px;
        border-radius: @global-border-radius;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        border: 1px solid @border-color;
        background: #fff;
        line-height: 1.5;

        &-closable {
            padding-right: 20px;
        }

        &-close {
            position: absolute;
            right: 5px;
            top: 3px;
            color: #000;
            cursor: pointer;
            outline: none;
            font-size: 16px;
            font-weight: 700;
            line-height: 1;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: .2;
            text-decoration: none;

            &-x:after {
                content: '×';
            }

            &:hover {
                opacity: 1;
                filter: alpha(opacity=100);
                text-decoration: none;
            }
        }
    }

    .kuma-icon {
        float: left;
        margin-right: 10px;
        font-size: 24px;
        line-height: 1;

        &.kuma-icon-caution {
            color: @brand-warning;
        }
        &.kuma-icon-information {
            color: @brand-primary;
        }
        &.kuma-icon-success {
            color: @brand-success;
        }
        &.kuma-icon-error {
            color: @brand-danger;
        }
    }
    .kuma-loading {
        float: left;
        & + .@{__notificationPrefixCls}-content {
            margin-left: 46px;
            line-height: 36px;
        }
    }
}
